/* Icon Overrides */
button i, a i {
  vertical-align: middle;
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  *margin-right: .3em;
  &.big {
    width: 24px;
    height: 24px;
  }
}
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
  *margin-left: 0;
}
.icon-archives { background-position: 0 0; }
.icon-linkedin { background-position: -24px 0; }
.icon-twitter { background-position: 0 -24px; }
.icon-tumblr { background-position: 0 -48px; }
.icon-file { background-position: -24px -24px; }
.icon-next { background-position: -24px -48px; }
.icon-trash { background-position: -38px -48px; }
.icon-play { background-position: -24px -62px; }
.icon-pause { background-position: -38px -62px; }
.icon-stop { background-position: -52px -62px; }
.icon-snowflake { background-position: -52px -48px; }
.icon-triforce { background-position: -52px -34px; }
.icon-leaf { background-position: -52px -20px; }
.icon-fire { background-position: -52px -6px; }
