/* Icon Overrides */
button i, a i {
  vertical-align: middle;
}
i.big {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}
.big.icon-file {
  background-image: url("../img/file.png") !important;
  width: 18px;
}
.icon-twitter {
  background-image: url("../img/twitter.png") !important;
}
.icon-tumblr {
  background-image: url("../img/tumblr.png") !important;
}
.icon-linkedin {
  background-image: url("../img/linkedin.png") !important;
}
.icon-archives {
  background-image: url("../img/archives.png") !important;
}
.icon-snowflake {
  background-image: url("../img/snowflake.png") !important;
  background-position: 0 0 !important;
  &.white {
    background-image: url("../img/snowflake-white.png") !important;
  }
}
.icon-triforce {
  background-image: url("../img/triforce.png") !important;
  background-position: 0 0 !important;
  &.white {
    background-image: url("../img/triforce-white.png") !important;
  }
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
  *margin-left: 0;
}
.white {
  background-image: url("../img/glyphicons-halflings-white.png") !important;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
