@import "normalize.less";
@import "media-queries.less";
@import "helpers.less";
@import "print.less";
@import "bootstrap.less";

* {
  box-sizing: border-box;
}

body {
  font-family: minion-pro-1, minion-pro-2, Palatino, Georgia, 'Times New Roman', serif;
  font-size: 1em;
  line-height: 1.4em;
}

#canvas, #text {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

#field {
  width: auto;
  height: auto;
  color: blue;
  white-space: pre;
  cursor: default;
  display: inline-block;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: monospace;
  font-size: 12px;
  line-height: 12px;
}

#overlay {
  margin-top: 2em;
  z-index: 1;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#card-container {
  /* TODO: Abstract this mixin */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#styles {
  margin: 4em auto 0 auto;
  width: 5 * 36px;
  display: none;
}

#card {
  background: white;
  padding: 5% 3%;
  max-width: 320px;
  margin: 0 auto;
  .opacity(.9);

  img {
    float: right;
    width: 64px;
    height: 64px;
  }

  h1 {
    margin: 0;
    margin-top: .5em;
    line-height: 1em;
    font-size: 1em;
    font-weight: bold;
  }

  ul {
    margin: .5em 0;
    li {
      list-style: none;
      line-height: 1.8em;
      span {
        font-family: "Courier New", monospace;
        display: inline-block;
        margin-right: 1em;
      }
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

  span.attribution {
    margin-top: .2em;
    float: right;
    .opacity(.5);
  }

  blockquote.active {
    display: block;
  }
}

/* Media queries */

@media only screen and (min-width: 768px) {
  #card {
    float: left;
  }
}

/* Icon extensions */
.icon-so8res {
  background-image: url("../img/so8res/dark.png") !important;
  background-position: 0 0;
}
.icon-so8res.icon-white {
  background-image: url("../img/so8res/white.png") !important;
}
