@import "normalize.less";
@import "media-queries.less";
@import "helpers.less";
@import "print.less";
@import "btn.less";
@import "bootstrap.less";

body {
  font-family: minion-pro-1, minion-pro-2, Palatino, Georgia, 'Times New Roman', serif;
  font-size: 1em;
  line-height: 1.4em;
}

#canvas, #svg {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
  cursor: pointer;
}

#dot, #halo { .opacity(.7); visibility: hidden; }

#overlay {
  margin-top: 2em;
  z-index: 1;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#card-container {
  /* TODO: Abstract this mixin */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#styles {
  margin: 4em auto 0 auto;
  width: 5 * 36px;
  display: none;
}

#card, #more {
  box-sizing: border-box;
  background: rgba(255,255,255,.9);
  padding: 3% 3%;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  img { float: right; }

  h1 {
    margin: 0;
    margin-top: .5em;
    line-height: 1em;
    font-size: 1em;
    font-weight: bold;
  }

  ul {
    margin: .5em 0;
    li {
      list-style: none;
      line-height: 1.8em;
      span {
        font-family: "Courier New", monospace;
        display: inline-block;
        margin-right: 1em;
      }
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
    }
  }
  blockquote {
    margin-bottom: .2em;
  }
  #attribution {
    .opacity(.5);
  }

  #controls {
    float: right;
    clear: right;
    margin-top: 1em;
    text-align: center;
    .clear, .control { display: none; }
    &.going, &.paused { .clear, .control { display: inline; } }
    &.going .control .icon-pause { display: inline block; }
    &.going .control .icon-play { display: none; }
    &.paused .control .icon-play { display: inline block; }
    &.paused .control .icon-pause { display: none; }
  }

  #fractals {
    float: left;
    clear: both;
    margin-top: 1em;
  }
}

#more {
  padding-top: 3%;
  padding-bottom: 3%;
  overflow: auto;
  text-align: center;
  display: none;
  font-size: 1.2;
  p { text-shadow: 0 1px 1px #888; clear: right; }
  table {
    margin: 2em auto;
    margin-bottom: 0;
    empty-cells: show;
  }
  #to-card {
    margin-top: 1.5em;
    float: left;
  }
  #iterate {
    float: right;
    margin-bottom: 1em;
    i {
      width: 15px;
      display: inline-block;
      margin-top: 2px;
    }
  }
}

button i {
  vertical-align: middle;
}

/* Media queries */

@media only screen and (min-width: 768px) {
  #card, #more { float: left; }
}

/* Icon extensions */
.icon-snowflake {
  background-image: url("../img/snowflake.png") !important;
  background-position: 0 0;
}
.icon-snowflake.icon-white {
  background-image: url("../img/snowflake-white.png") !important;
}
.icon-triforce {
  background-image: url("../img/triforce.png") !important;
  background-position: 0 0;
}
.icon-triforce.icon-white:not(.active) {
  background-image: url("../img/triforce-white.png") !important;
}
.custom {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}
.icon-file {
  background-image: url("../img/file.png") !important;
  width: 18px;
}
.icon-twitter { background-image: url("../img/twitter.png") !important; }
.icon-tumblr { background-image: url("../img/tumblr.png") !important; }
.icon-linkedin { background-image: url("../img/linkedin.png") !important; }
.icon-archives { background-image: url("../img/archives.png") !important; }

@fire: #fdd017;
@fire2: #fa0;
@earth: #a5dd35;
@earth2: #a55d35;
@snow: #8ee;
@snow2: #6cc;
@tri: #35f;
@tri2: #c2f;

/* Theming */
body.tri { a:not(:visited) { color: #b4b; } }
body.snow { a:visited { color: #008; } }
body.fire { a { color: #d64; } a:visited { color: #800; } }
body.earth { a { color: #6d4; } a:visited { color: #080; } }

body.hacker {
  background: black;
  #card {
    background: black;
    text: white;
    font-family: "Courier New", monospace;
    a:visited {
      color: #080;
    }
    a {
      color: #0f0;
    }
    blockquote {
      border-color: #333;
    }
  }
}

body, blockquote, a {
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -ms-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}
body {
  img.only { width: 0; height: 0; .opacity(0); }
  .quote.only { height: 0; .opacity(0); }
  .said.only { width: 0; height: 0; .opacity(0); }

  &.fire img.only.fire,
  &.earth img.only.earth,
  &.snow img.only.snow,
  &.tri img.only.tri { width: 64px; height: 64px; .opacity(1); }

  &.fire .quote.only.fire,
  &.earth .quote.only.earth,
  &.snow .quote.only.snow,
  &.tri .quote.only.tri { height: 100%; .opacity(1); }

  &.fire .said.only.fire,
  &.earth .said.only.earth,
  &.snow .said.only.snow,
  &.tri .said.only.tri { height: 100%; width: 100%; .opacity(1); }

  /*  rgba(128,255,128,1) */
  &.fire #halo { stroke: @fire }
  &.earth #halo { stroke: @earth }
  &.snow #halo { stroke: @snow }
  &.tri #halo { stroke: @tri }
  &.fire #dot { fill: @fire2 }
  &.earth #dot { fill: @earth2 }
  &.snow #dot { fill: @snow2 }
  &.tri #dot { fill: @tri2 }
}

/* Transitions */

blockquote {
  overflow: hidden;
  .quote {
    -webkit-transition: height .9s;
    -webkit-transition: opacity .9s;
    overflow: hidden;
    display: block;
  }
}
img {
  -webkit-transition: height .9s;
  -webkit-transition: opacity .9s;
  -moz-transition: height .9s;
  -moz-transition: opacity .9s;
  -ms-transition: height .9s;
  -ms-transition: opacity .9s;
  -o-transition: height .9s;
  -o-transition: opacity .9s;
  transition: height .9s;
  transition: opacity .9s;
}
#attribution {
  overflow: hidden;
  .said {
    text-align: right;
    -webkit-transition: height .9s;
    -webkit-transition: opacity .9s;
    -moz-transition: height .9s;
    -moz-transition: opacity .9s;
    -ms-transition: height .9s;
    -ms-transition: opacity .9s;
    -o-transition: height .9s;
    -o-transition: opacity .9s;
    transition: height .9s;
    transition: opacity .9s;
    overflow: hidden;
    display: block;
  }
}
